echo "# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/



# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
" > .gitignore
